.header {
    position: relative;
    top: 80px;
    z-index: 10;

    margin-bottom: 80px;

    background: url('../../images/landing/header/bg.png') no-repeat center / cover;
}

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: calc(100vh - 80px);
}

.header_heading,
.header_font {
    margin-bottom: 30px;

    font-family: 'Russo One', sans-serif;
    color: #fff;
}

.header_heading {
    font-size: 2.7rem;
}

.header_font {
    font-size: 2.2rem;
}

.header_button-style {
    padding: 16px 32px;

    font-family: 'Russo One', sans-serif;
    color: #fff;
    background-color: var(--accent-color);
    transition: var(--transition);
}

.header_button-style:hover {
    padding: 20px 40px;

    color: var(--accent-color);
    background-color: #fff;
}

@media (max-width: 768px) {
    .header_heading,
    .header_font {
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .header_heading {
        font-size: 2rem;
    }

    .header_font {
        font-size: 1.8rem;
    }
}