.coaches {
    padding-top: 1px;
    margin-bottom: 80px;
}

.coaches__switches {
    display: flex;
    justify-content: center;

    height: 40px;
}

.slider {
    margin: 0 60px 20px 60px;

    overflow: hidden;
}

.slider__length {
    display: flex;
    justify-content: space-around;

    width: 100%;
}

.slider__card {
    position: relative;

    height: 400px;
    width: 30%;

    overflow: hidden;
}

.slider__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.slider__info-box {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 20px 0;

    background-color: rgba(36, 60, 77, 0.8);
}

.slider__info-box_heading,
.slider__info-box_font {
    margin-bottom: 10px;

    color: #fff;
}

.slider__info-box_heading {
    display: flex;
    flex-flow: wrap column;
    align-items: center;

    font-family: 'Russo One', sans-serif;
    font-size: 1.25rem;
}

.slider__info-box_heading::after {
    content: '';

    margin-top: 10px;
    height: 1px;
    width: 50%;

    background-color: #fff;
}

.slider__info-box_font {
    font-family: "Sarala", sans-serif;
    font-weight: 700;
    text-align: center;
}

.coaches__ellipse {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    cursor: pointer;
}

.coaches__ellipse:not(:last-child) {
    margin-right: 20px;
}

.coaches__ellipse_big {
    width: 24px;
    height: 24px;

    border-radius: 25px;
    background-color: var(--main-color);
}

.coaches__ellipse_mini {
    position: absolute;
    top: 11px;
    left: 11px;

    width: 18px;
    height: 18px;

    border-radius: 25px;
    background-color: #fff;
}

.coaches__ellipse_mini_active {
    background-color: var(--main-color);
}

@media (max-width: 768px) {
    .slider {
        margin: 0 20px 20px 20px;
    }
}

@media (max-width: 576px) {
    .slider {
        margin: 0 0 20px 0;
    }
}